<% layout('layouts/boilerplate') -%> <% include ../partials/navbar %>

<form
  action="/homes/<%= home.id %>?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <div>
    <label for="state">State</label>

    <select id="state" name="state">
      <option value="0">State</option>
      <option value="Lagos">Lagos</option>
      <option value="Abuja">Abuja</option>
    </select>
  </div>

  <div>
    <label for="location">Location</label>

    <select id="location" name="location">
      <option value="0">Location</option>
    </select>
  </div>

  <div>
    <label for="lease">Lease/Let Category</label>
    <select id="lease" name="lease">
      <option value="RENT">Rent</option>
      <option value="SALE">Sale</option>
    </select>
  </div>

  <div>
    <label for="bedrooms">Bedrooms</label>
    <input
      type="number"
      value="<%= home.bedrooms %>"
      step="1"
      max="6"
      name="bedrooms"
    />
  </div>

  <div>
    <label for="price">Price</label>
    <input type="number" value="<%= home.price %>" step="1" name="price" />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="description"><%= home.description %></textarea>
  </div>

  <div>
    <label for="pictures">Pictures</label>
    <input
      type="file"
      name="pictures"
      accepts="images/*"
      id="imageUpload"
      multiple
    />
  </div>

  <div>
    <h5>Current Pics</h5>
    <div>
      <% home.pictures.forEach((pic, index) => { %>
      <span
        ><img src="<%= pic.url %>" />
        <label for="pic<%= index %>">Change?</label>
        <input
          id="pic<%= index %>"
          type="checkbox"
          value="<%= pic.public_id %>"
          name="changePics[]"
          class="deleteCheckbox"
        />
      </span>
      <% }) %>
    </div>
  </div>

  <button id="edit-submit-button">Submit</button>
</form>

<script>
  const currentState = "<%= home.state %>";
  const currentLocation = "<%= home.location %>";
  const lease = "<%= home.lease %>";
  const page = "<%= title %>";

  window.addEventListener("load", function (e) {
    state.value = currentState;
    addLocations(currentState);
    locations.value = currentLocation;
    document.getElementById("lease").value = lease;
  });
</script>
<script src="/javascripts/data.js"></script>
<script src="/javascripts/editHome.js"></script>
