<% layout('layouts/boilerplate') -%>
<% include ../partials/navbar %>
<h1><%= title %></h1>
    <p>Welcome to <%= title %> pages</p>
	  <p>Welcome To Our Home App</p>


	<a href='/homes/new' class='btn btn-info'>POST NEW PROPERTY</a>
	<h3>Current Properties</h3>

	<% homes.forEach((home,index) => { %>
			<div id='myRow'>
			<h3><%= home.bedrooms %> Bedroom Property For <%= home.lease.toLowerCase() %></h3>
			<address><i class='fas fa-map-marker-alt'></i>  <%= home.location %></address>
		</div>
		
		<div>
			<div id='pictures-box'> Below are pictures of the property:
					
				<div class='slidershow middle'>
					<div class='slides'>
						
						<% for(x = 0; x < home.pictures.length; x++) { %>		
							<input type='radio' name='r' id='r<%= x %>' <%= x === 0 ? 'checked' : '' %>>
						<% } %>

						<% home.pictures.forEach((photo, index) => { %>

							<div class='slide <%= index === 0 ? 's1': '' %>'><img src='<%= photo.url %>'></div>
						<% }) %>
							
					</div>
						
						
					<div class='navigation'>
						<% home.pictures.forEach((photo,index) => { %>
							<label for='r<%= index %>' class='bar'></label>
						<% }) %>
					</div>
						
				</div>
			</div>
		</div>
		
		
	<% }) %>


	
	<ol>
		<% homes.forEach((home,index) => { %>
			<li><%= home.state %> State
				<ul>
					<li> location at <%= home.location %></li>
					<li> Going for <%= home.lease %></li>
					<li> <%= home.bedrooms %> bedrooms property costing N<%= home.price %></li>
					<li> Below are pictures of the property: 
						<ul>
						<% home.pictures.forEach(photo => { %>
							<li><img src='<%= photo.url %>'></li>
						<% }) %> 
						</ul>
					</li>
				</ul>
				<a href='/homes/<%= home.id %>'> Check it out...</a>
			</li>	
		<% }) %>
		
	</ol>

